body {
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    border: 1px solid blue;
    padding: 10px;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

div {
    border: 1px solid green;
}

.box {
    border: 1px solid blue;
    display: inline-block;
    height: 100px;
    width: 100px;
}

.available {
    border: 1px solid red;
}

.available:hover {
    cursor: pointer;
}

#reset {
    display: none;
}