body {
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    border: 1px solid blue;
    padding: 10px;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.box {
    border: 1px solid red;
    display: inline-block;
    height: 100px;
    width: 100px;
}