:root {
    --whitish: #FEFEFE;
    --lightGrey: #999999;
    --darkGrey: #333333;
    --greenish: #B5EAD6;
    --bluish: #C7CEEA;
    --reddish: #FF9AA2;
    --rainbow: linear-gradient(135deg, rgba(255,154,162,1) 0%, rgba(255,218,193,1) 25%, rgba(226,240,203,1) 50%, rgba(181,234,215,1) 75%, rgba(199,206,234,1) 100%);
}

body {
    background-color: var(--whitish);
    margin: auto;
    padding: 30px;
    width: fit-content;
    font-family: 'Red Hat Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    color: var(--darkGrey);
}

h1 {
    font-size: 36px;
    line-height: 32px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

main {
    background-color: var(--greenish);
    background: var(--rainbow);
    border-radius: 10px;
    width: fit-content;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin: 30px 0;
}

.box {
    background-color: rgba(255, 255, 255, 0.65);
    font-size: 10vh;
    border-radius: 10px;
    display: inline-block;
    height: 20vh;
    width: 20vh;
    transition: 0.3s;
}

.available:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.90);
}

.x, .o {
    background-color: rgba(255, 255, 255, 0.90);
    box-sizing: border-box;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x {
    color: var(--reddish);
    border: 5px solid var(--reddish);
}

.o {
    color: var(--bluish);
    border: 5px solid var(--bluish);
}

#resetDiv {
    opacity: 0;
    visibility: hidden;
}

#result {
    display: block;
    padding-bottom: 30px;
}

#info {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

button {
    color: var(--darkGrey);
    background-color: var(--greenish);
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Red Hat Mono', monospace;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 30px;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: var(--bluish);
}

a {
    color: var(--greenish);
    text-decoration: none;
    font-weight: 700;
    border-bottom: 2px solid var(--greenish);
    transition: 0.3s;
}

a:hover {
    color: var(--bluish);
    border-bottom: 2px solid var(--bluish);
}

footer {
    color: var(--lightGrey);
    text-align: center;
    margin: 30px 0 0;
}